$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

//Fonts
$primary-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

//Colors
$primary: #1e3a8a;
$secondary: #2a7ae4; // Azul secundario (ejemplo)
$accent: #f59e0b;
$accent-light: #fef3c7;
$background: #f9fafb;
$background-light: #faf9f7c5; // Fondo claro (ejemplo)
$text-color: #111827;
$light: #ffffff;
$dark: #1f2937;
$text: #111827; // igual que $text-color, o el que prefieras
$text-light: #6b7280; 